<?xml version="1.0"?>
<launch>

  <!-- TODO(lucasw) publish a couple of transforms -->

  <node pkg="tf2_ros" type="static_transform_publisher" name="static_frame1"
      args="1 5 5 0.1 0.2 0.3 map frame1" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="static_frame2"
      args="0 0 -6.0 0.0 0.0 0.25 frame1 frame2" />

  <node name="rqt_generic" pkg="rqt_gui" type="rqt_gui"
      args="--perspective-file $(find rqt_tf_echo)/config/tf_echo.perspective"
      output="screen">
  </node>

</launch>
